requests
pandas
appdirs==1.4.4
certifi==2020.12.5
chardet==4.0.0
distlib==0.3.1
filelock==3.0.12
idna==2.10
psycopg2==2.8.6
psycopg2-binary==2.8.6
PyJWT==1.7.1
pytz==2020.5
requests==2.25.1
six==1.15.0
twilio==6.51.1
urllib3==1.26.3
virtualenv==20.4.0
openpyxl
plotly.express
PyQt5
window
